.DS_Store
.Rproj.user
.Rhistory
.RData
vignettes/*.log
vignettes/*.gz
/packrat/lib*/

inst/doc
docs
hvtiPropensityScores.Rproj

.claude
.Rcheck*
.Rbuildignore
.Rproj.user
.Rhistory
.RData
/doc/
/Meta/
.fuse_hidden*
